aiohttp==3.6.3 
async-timeout==3.0.1
attrs==20.3.0
beautifulsoup4==4.9.3
certifi==2020.12.5
chardet==3.0.4
click==7.1.2
discord==1.0.1
discord.py==1.5.1
flask==1.1.2
idna==2.10
itsdangerous==1.1.0
jinja2==2.11.2
markupsafe==1.1.1
multidict==4.7.6
sockets
pymediawiki==0.6.7
requests==2.25.1
soupsieve==2.1; python_version >= "3.0"
urllib3==1.26.2
werkzeug==1.0.1
yarl==1.5.1
